<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ferreteria.Properties.Settings.ProyPavConnectionString"
            connectionString="Data Source=FRANCOMAIN-PC\TEW_SQLEXPRESS;Initial Catalog=ProyPav;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ferreteria.Properties.Settings.ProyPavConnectionString1"
            connectionString="Data Source=AGUSVENTURI;Initial Catalog=ProyPav;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>